body{
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.first-container {
    max-height: 100%;
    max-width: 100%;
    background-image:url("images/bg.png") ;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;

}

.header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.img1 {
    width: 80px;
    margin-top: 10px;
}

nav{
    margin-left: 450px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 10px;
   border-color: white;
   border: 1px solid #5e97d1;
   margin: 10px;
   padding: 12px;
   font-size: 17px;
   font-weight: 600;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-shadow: 0px 1px 0px #528ecc;
   text-decoration: none;
}

.btn1{
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 10px;
   border-color: white;
   margin: 10px;
   padding: 12px;
   font-size: 17px;
   font-weight: 600;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}